
.icon-gmail:before { content: '\e800'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-skype:before { content: '\f30b'; } /* '' */
.icon-linkedin:before { content: '\f31a'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */
